.row-fluid
  .hero-title 
    B
.row-fluid
  .span10.nav-area
    %ul
      %li
        = link_to root_url do
          .nav-box.home-nav
          .nav-title
            Home
      %li
        = link_to projects_url do
          .nav-box.portfolio-nav
          .nav-title 
            Portfolio
      %li
        = link_to blog_posts_url do
          .nav-box.blog-nav
          .nav-title 
            Blog
      %li
        = link_to life_experiences_url do
          .nav-box.life-nav
          .nav-title 
            Life
      %li
        = link_to profile_url do
          .nav-box.work-nav
          .nav-title 
            Work